/* Color Variables */
/* Font Size */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #51509b;
}

ul {
  list-style: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .container {
  width: 900px;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 15px 0;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  margin-top: 20px;
}

main .container h2 {
  color: #fff;
  font-size: 2rem;
}

main .container p {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

main .container .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  position: relative;
}

main .container .cards-container .card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  border-radius: 10px;
}

main .container .cards-container .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .cards-container .card .card-heading i {
  font-size: 1.5rem;
  color: #e5af40;
  margin-right: 10px;
}

main .container .cards-container .card .card-heading h3 {
  font-size: 1.5rem;
  position: relative;
}

main .container .cards-container .card .card-heading h3::after {
  content: "";
  position: absolute;
  width: 100%;
  padding: 5px 0;
  background-color: #e5af40;
  bottom: 0;
  left: 0;
  opacity: .3;
}

main .container .cards-container .card .options {
  -webkit-box-flex: .8;
      -ms-flex: .8;
          flex: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .container .cards-container .card .options li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 0.8rem;
  line-height: 1.5;
}

main .container .cards-container .card .options li span {
  font-weight: bold;
}

main .container .cards-container .card .options .bold {
  font-weight: bold;
}

main .container .cards-container .card .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

main .container .cards-container .card .price-container .price {
  font-size: 2.7rem;
  font-weight: bold;
  position: relative;
}

main .container .cards-container .card .price-container .price::before {
  content: "\1F4B2";
  font-size: 1.2rem;
  position: relative;
  top: -20px;
  left: 5px;
}

main .container .cards-container .card .price-container .price span {
  font-size: .8rem;
  font-weight: normal;
}

main .container .cards-container .card .price-container button {
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #e5af40;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

main .container .cards-container .big {
  height: 450px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
}

main .container .cards-container .big .other-option {
  font-size: 0.8rem;
}

main .container .cards-container .big .other-option span {
  font-weight: bold;
}

main .container .cards-container .small {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  right: 10px;
  width: 350px;
  height: 350px;
  z-index: 1;
}

@media (max-width: 799px) {
  main .container {
    width: 500px;
  }
  main .container .cards-container .small {
    right: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */